.content{
  margin: auto;
  padding: 10px;
  width: 90%;
  border: 1px solid;
  background-color: rgb(193, 193, 193);

  
  
  
}
.infor, .claiming, .assist, .allow, .tapyes, .tapno, .male, .female, .prefer{
  display: flex;
}
.border-bottom input{
  border: none;
  border-bottom: 1px solid gray;
  width: 96%;
  outline: none;
  padding: 5px;
  color: gray;
  height: 25px;
  font-size: 15px;
}
.image img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;

}
.click button{
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 50px;
  background-color: rgb(6, 5, 5);
  color: white;
  font-weight: 500;
  font-size: larger;
  cursor: pointer;
  margin: 0;
  position: relative;
  margin-top: 30px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.click button:hover{
  color: black;
  border: 1px solid rgb(6, 5, 5);
  background-color: transparent;
}
@media (max-width: 700) {
    .content{
      margin: auto;
      width: 50%;
      background-color: rgb(193, 193, 193);
      margin-left: 0%;
    }
}
